{% extends 'layout.html' %}
{% block title %}
Edit Profile
{% endblock %}
{% load static %}
<!-- custom css -->
{% block css %}
{% endblock %}
<!-- custom css end-->
{% block content %}
<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>{{ userdata.firstname }} {{ userdata.lastname }} profile</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span>Profile</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="user-information">
						<div class="user-img" style="margin-bottom: 0px;">
							{% if userdata.profile_photo != '' %}
	 						<a href=""><img src="{{ userdata.profile_photo }}" alt=""><br></a>
	            {% else %}
	 					 <a href=""><img src="{% static 'images/uploads/user-img.png' %}" alt=""><br></a>
	 					 {% endif %}
						  <form action="{% url 'film_user:edit_avatar' %}" class="user" id="avatar_form" method="post" enctype="multipart/form-data" >
							{% csrf_token %}
							<div class="form-style-1 user-pro" action="#" style="margin-bottom: 0px;">
							<div class="row">
							<div class="col-md-12 form-it">
						  <input type="file" name="change_avatar" value="" style="width: -webkit-fill-available; height: auto; color: red;" />
              </div>
							</div>
						  <div class="row">
							<div class="col-md-12">
							<input class="submit" type="submit" value="save">
							</div>
						  </div>
              </div>
             </form>
						</div>
						<div class="user-fav">
							<p>Account Details</p>
							<ul>
								<li class="active"><a href="javascript:;"><img src="{% static 'icons/accessibility-outline.svg' %}" width="15" />  {{ userdata.firstname }} {{ userdata.lastname }}</a></li>
								<li class="active"><a href="javascript:;"><img src="{% static 'icons/call-outline.svg' %}" width="15" /> {{ userdata.phone }}</a></li>
								<li class="active"><a href="javascript:;"><img src="{% static 'icons/mail-outline.svg' %}" width="15" /> {{ userdata.email }}</a></li>
							</ul>
						</div>
					</div>
			</div>
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro" action="#">
					<form action="{% url 'film_user:edit_profile' %}" class="user" id="profile_form" method="post" >
						{% csrf_token %}
						{% if messages %}
						<ul class="messages text-center">
						{% for message in messages %}
						 <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
						 {% endfor %}
						 </ul>
						 {% endif %}
						<h4>01. Profile details</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Mobile number</label>
								<input type="text" placeholder="" value="{{ userdata.phone }}" name="mobile_number">
							</div>
							<div class="col-md-6 form-it">
								<label>Email Address</label>
								<input type="text" placeholder="edward@kennedy.com" value="{{ userdata.email }}" name="email_address" >
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>First Name</label>
								<input type="text" placeholder="Edward" value="{{ userdata.firstname }}" name="firstname" >
							</div>
							<div class="col-md-6 form-it">
								<label>Last Name</label>
								<input type="text" placeholder="Kennedy" value="{{ userdata.lastname }}" name="lastname" >
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>State</label>
								<select name="state">
									<option value="KL" {% if userdata.state == 'KL' %} selected {% endif %} >Kerala</option>
									<option value="KA" {% if userdata.state == 'KA' %} selected {% endif %} >Karnataka</option>
									<option value="TN" {% if userdata.state == 'TN' %} selected {% endif %} >Tamil Nadu</option>
									<option value="AP" {% if userdata.state == 'AP' %} selected {% endif %} >Andhra Pradesh</option>
									<option value="MH" {% if userdata.state == 'MH' %} selected {% endif %} >Maharashtra</option>
									<option value="AN" {% if userdata.state == 'AN' %} selected {% endif %} >Andaman and Nicobar Islands</option>
									<option value="AR" {% if userdata.state == 'AR' %} selected {% endif %} >Arunachal Pradesh</option>
									<option value="AS" {% if userdata.state == 'AS' %} selected {% endif %} >Assam</option>
									<option value="BR" {% if userdata.state == 'BR' %} selected {% endif %} >Bihar</option>
									<option value="CH" {% if userdata.state == 'CH' %} selected {% endif %} >Chandigarh</option>
									<option value="CT" {% if userdata.state == 'CT' %} selected {% endif %} >Chhattisgarh</option>
									<option value="DN" {% if userdata.state == 'DN' %} selected {% endif %} >Dadra and Nagar Haveli</option>
									<option value="DD" {% if userdata.state == 'DD' %} selected {% endif %} >Daman and Diu</option>
									<option value="DL" {% if userdata.state == 'DL' %} selected {% endif %} >Delhi</option>
									<option value="GA" {% if userdata.state == 'GA' %} selected {% endif %} >Goa</option>
									<option value="GJ" {% if userdata.state == 'GJ' %} selected {% endif %} >Gujarat</option>
									<option value="HR" {% if userdata.state == 'HR' %} selected {% endif %} >Haryana</option>
									<option value="HP" {% if userdata.state == 'HP' %} selected {% endif %} >Himachal Pradesh</option>
									<option value="JK" {% if userdata.state == 'JK' %} selected {% endif %} >Jammu and Kashmir</option>
									<option value="JH" {% if userdata.state == 'JH' %} selected {% endif %} >Jharkhand</option>
									<option value="LA" {% if userdata.state == 'LA' %} selected {% endif %} >Ladakh</option>
									<option value="LD" {% if userdata.state == 'LD' %} selected {% endif %} >Lakshadweep</option>
									<option value="MP" {% if userdata.state == 'MP' %} selected {% endif %} >Madhya Pradesh</option>
									<option value="MN" {% if userdata.state == 'MN' %} selected {% endif %} >Manipur</option>
									<option value="ML" {% if userdata.state == 'ML' %} selected {% endif %} >Meghalaya</option>
									<option value="MZ" {% if userdata.state == 'MZ' %} selected {% endif %} >Mizoram</option>
									<option value="NL" {% if userdata.state == 'NL' %} selected {% endif %} >Nagaland</option>
									<option value="OR" {% if userdata.state == 'OR' %} selected {% endif %} >Odisha</option>
									<option value="PY" {% if userdata.state == 'PY' %} selected {% endif %} >Puducherry</option>
									<option value="PB" {% if userdata.state == 'PB' %} selected {% endif %} >Punjab</option>
									<option value="RJ" {% if userdata.state == 'RJ' %} selected {% endif %} >Rajasthan</option>
									<option value="SK" {% if userdata.state == 'SK' %} selected {% endif %} >Sikkim</option>
									<option value="TG" {% if userdata.state == 'TG' %} selected {% endif %} >Telangana</option>
									<option value="TR" {% if userdata.state == 'TR' %} selected {% endif %} >Tripura</option>
									<option value="UP" {% if userdata.state == 'UP' %} selected {% endif %} >Uttar Pradesh</option>
									<option value="UT" {% if userdata.state == 'UT' %} selected {% endif %} >Uttarakhand</option>
									<option value="WB" {% if userdata.state == 'WB' %} selected {% endif %} >West Bengal</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<input class="submit" type="submit" value="save">
							</div>
						</div>
					</form>
					<form action="{% url 'film_user:edit_password' %}" class="password" id="password_form" method="post" >
						{% csrf_token %}
						<h4>02. Change password</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Old Password</label>
								<input type="text" placeholder="**********" name="old_password" >
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>New Password</label>
								<input type="password" placeholder="***************" name="password" id="password" >
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Confirm New Password</label>
								<input type="password" placeholder="***************" name="confirm_password">
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<input class="submit" type="submit" value="change">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
<!-- custom js -->
{% block js %}
<script src="{% static 'validate/jquery.validate.min.js' %}"></script>
<script src="{% static 'validate/additional-methods.min.js' %}"></script>
<script>
$(document).ready(function(){
$( "#profile_form" ).validate({
 ignore: [],
  rules: {
     firstname: {
      required: true,
      digits: false,
      minlength: 2,
      maxlength: 255
    },
    lastname: {
      required: true,
      digits: false,
      minlength: 2,
      maxlength: 255
    },
    mobile_number: {
      required: true,
      digits: true,
      minlength: 9,
      maxlength: 10,
    },
    email_address: {
      required: true,
      email: true,
      minlength: 8,
      maxlength: 255
    },
  }
});
$( "#password_form" ).validate({
 ignore: [],
  rules: {
		old_password: {
			required: true,
      minlength: 5,
      maxlength: 20,
		},
    password: {
      required: true,
      minlength: 5,
      maxlength: 20,
    },
    confirm_password: {
      required: true,
      minlength: 5,
      maxlength: 20,
      equalTo: "#password"
    },
  }
});
$( "#avatar_form" ).validate({
 ignore: [],
  rules: {
    change_avatar: {
      required: true,
			extension:'png,jpg,jpeg',
      filesize: 2097152,
    },
  }
});
});
</script>
{% endblock %}
<!-- custom js end-->
